.index {
  padding: 10px;
  margin: 10px;

  img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    max-width: 100%;
  }

    .carousel {
    .slide {
      margin: 10px;
      padding: 10px;
      transition: 1s;
    }
  }
}


