.nosotros{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: center;
    gap: 1rem;
  
    .card img{
      width: 600px;
      position: relative;
      display: block;
      border-radius: 10% 25%;
      transition: border-radius 0.5s ease-in-out;
  
      &:hover{
        border-radius: 25% 10%;
        transition: 1s;
      }
    }
  }
